body {
	background-color:#161616;
}

.game_ss {
	width: 70%;
	height:auto;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: transform .2s;
}
/*.game_ss:hover {
  transform: scale(1.5); 
}*/

p{
	margin-bottom: 0px;
	margin-left:20px;
	margin-right:0px;
	margin-top:10px;
	text-align: center;
	color: white;
	font-family: "Stylish", serif;
	font-weight: 400;
	font-size: 2vw;
	font-style: normal;
}

h1,h2,h3 {
	text-align: center;
	font-family: "Griffy", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	color:rgb(124, 252, 0);}
	
.game_ss_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.image_caption_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

hr {
	border: 1px solid white;
	margin-top: 30px;
	margin-bottom:30px;}
	
.button-formatting {
	font-family: "Griffy", system-ui;
	position: fixed;
	font-weight: 400;
	font-style: normal;
	right: 30px;
	bottom: 30px;
	font-size:20px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button-formatting:hover {
	color: white;
	background-color: black;
}

.links {
	text-decoration: none;
}

a {
    color:#7CFC00; /* Choose a light color that contrasts well with dark grey */
    text-decoration: none; /* Optional: removes underline from links */
}

/* Maintain the same color when the link is hovered over */
a:hover {
    color: #7CFC00; /* Keep the same color on hover */
}

/* Maintain the same color for visited links */
a:visited {
    color: #7CFC00; /* Keep the same color for visited links */
}

/* Maintain the same color for active links (when clicked) */
a:active {
    color:#7CFC00; /* Keep the same color when the link is actively clicked */
}
